<html>

<head>

</head>

<body>
    <div style="text-align: center; margin-top:40px;">

        <form action="/Registration/Index" method="post">
            <input class="btn btn-danger" type="submit" value="Registration" name="Registration">
        </form>
        <br />

        <form action="/Login/Index" method="post">
            <input class="btn btn-danger" type="submit" value="Login" name="Login">
        </form>

    </div>

    @if (ViewBag.listaManifestacija != null)
    {
        <table style="margin-top: 30px;" class="table table-dark">

            <thead style="background-color: lightcoral;">

                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Capacity</th>
                    <th scope="col">Date</th>
                    <th scope="col">Ticket price [EUR]</th>
                    <th scope="col">Status</th>
                    <th scope="col">Place</th>
                    <th scope="col">Country</th>
                    <th scope="col">Poster</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in ViewBag.listaManifestacija)
                {
                    <tr>
                        <td>@item.Naziv</td>
                        <td>@item.TipManifestacije</td>
                        <td>@item.BrojMesta</td>
                        <td>@item.DatumIVremeOdrzavanja</td>
                        <td>@item.CenaRegularKarte</td>
                        <td>@item.Status</td>
                        <td>@item.Mesto</td>
                        <td>@item.Drzava</td>
                        <td><img src="~/Images/@item.PosterManifestacije" alt="Nema slike" width="200" height="100" /></td>

                    </tr>
                }

            </tbody>

        </table>
    }

    <form style="right:auto" method="post" action="/Client/SearchManifByPrice">
        <div style="color:black">Search by price:</div>
        <label for="price">from:</label>
        <select name="from">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">10</option>
            <option value="30">10</option>
        </select>
        <label for="price">to:</label>
        <select name="to">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
            <option value="40">40</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <br />
        <input class="btn btn-danger" type="submit" value="Search" />
    </form>
    <br />
    <form method="post" action="/Client/SearchManifByName">
        <div style="color:black">Search by manifestation name:</div>
        <input type="text" name="name" />
        <br />
        <input class="btn btn-danger" type="submit" value="Search" />
    </form>
    <br />
    <form method="post" action="/Client/SearchByManifCountry">
        <div style="color:black">Search by manifestation country:</div>
        <input type="text" name="name" />
        <br />
        <input class="btn btn-danger" type="submit" value="Search" />
    </form>
    <br />
    <form method="post" action="/Client/SearchByManifPlace">
        <div style="color:black">Search by manifestation place:</div>
        <input type="text" name="name" />
        <br />
        <input class="btn btn-danger" type="submit" value="Search" />
    </form>
    <br />
    <form method="post" action="/Client/SortByManifName">
        <div style="color:black">Sort by manifestation name:</div>
        <select name="name" id="name">
            <option value="ASC">ASC</option>
            <option value="DESC">DESC</option>
        </select>
        <input class="btn btn-danger" type="submit" value="Sort" />
    </form>
    <br />
    <form method="post" action="/Client/SortByManifPrice">
        <div style="color:black">Sort by manifestation ticket price:</div>
        <select name="price" id="price">
            <option value="ASC">ASC</option>
            <option value="DESC">DESC</option>
        </select>
        <input class="btn btn-danger" type="submit" value="Sort" />
    </form>
    <br />
    <form method="post" action="/Client/SortByManifPlace">
        <div style="color:black">Sort by manifestation place:</div>
        <select name="place" id="place">
            <option value="ASC">ASC</option>
            <option value="DESC">DESC</option>
        </select>
        <input class="btn btn-danger" type="submit" value="Sort" />
    </form>
    <br />
    <form method="post" action="/Client/FilterByType">
        <div style="color:black">Filter by type:</div>
        <select name="type" id="type">
            <option value="KONCERT">KONCERT</option>
            <option value="PREDSTAVA">PREDSTAVA</option>
            <option value="FESTIVAL">FESTIVAL</option>
        </select>
        <input class="btn btn-danger" type="submit" value="Filter" />
    </form>
    <br />
    <form method="post" action="/Client/MultipleSearch">
        <div style="color:black">Combined search:</div>
        <label>Name:</label>
        <input type="text" name="name" />
        <label>Place:</label>
        <input type="text" name="place" />

        <label>Country:</label>
        <input type="text" name="country" />


        <label for="price">from:</label>
        <select name="priceF">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="15">15</option>
        </select>
        <label for="price">to:</label>
        <select name="priceT">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
        </select>

        <br />
        <input class="btn btn-danger" type="submit" value="Search" />
    </form>

</body>

</html>
