<html>

<head>

</head>

<body>

    @if (ViewBag.listaKarata != null)
    {
        <table style="margin-top: 30px;" class="table table-dark">

            <thead style="background-color: lightcoral">

                <tr>
                    <th scope="col">Ticket id</th>
                    <th scope="col">Manifestation</th>
                    <th scope="col">Date</th>
                    <th scope="col">Price</th>
                    <th scope="col">Buyer</th>
                    <th scope="col">Status</th>
                    <th scope="col">Type</th>
            </thead>

            <tbody>

                @foreach (var item in ViewBag.listaKarata)
                {
                    <tr>
                        <td>@item.IdKarte</td>
                        <td>@item.ManifestacijaZaKojuJeRezervisana.Naziv</td>
                        <td>@item.DatumIVremeManifestacije</td>
                        <td>@item.CenaKarte</td>
                        <td>@item.Kupac</td>
                        <td>@item.StatusKarte</td>
                        <td>@item.TipKarte</td>

                    </tr>
                }
         

            </tbody>

        </table>


    }

    <form method="post" action="/Kupac/SearchTicketsByManifName">
        <div style="color:black">Search by name:</div>
        <input type="text" name="name" />
        <br />
        <input class="btn btn-danger" type="submit" value="Search" />
    </form>

    <br />

    <form style="right:auto" method="post" action="/Kupac/SearchTicketsByPrice">
        <div style="color:black">Search by price:</div>
        <label for="price">from:</label>
        <select name="from">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="27">27</option>
        </select>
        <label for="price">to:</label>
        <select name="to">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
        <br />
        <input class="btn btn-danger" type="submit" value="Search" />
    </form>

    <br />

    <form style="right:auto" method="post" action="/Kupac/SortTicketsByName">
        <div style="color:black">Sort by manifestation name:</div>
        <select name="name" id="name">
            <option value="ASC">ASC</option>
            <option value="DESC">DESC</option>
        </select>
        <input class="btn btn-danger" type="submit" value="Sort" />
    </form>

</body>

</html>


